doctype html
html
    head
        title= title
        script(src='/javascript/lib/phaser.min.js')

        script(src='/javascript/component/base/AbsFact.js')
        script(src='/javascript/component/base/AbsTextWrapper.js')

        script(src='/javascript/component/AnswerText.js')
        script(src='/javascript/component/ScoreText.js')
        script(src='/javascript/component/QuestionText.js')
        script(src='/javascript/component/MenuBtnText.js')
        script(src='/javascript/component/TimerText.js')

        script(src='/javascript/component/QuestionTextWrapper.js')
        script(src='/javascript/component/TimerTextWrapper.js')

        script(src='/javascript/component/MenuBtnTextFact.js')
        script(src='/javascript/component/AnswerTextFact.js')
        script(src='/javascript/component/ScoreTextFact.js')

        script(src='/javascript/scenes/MainScene.js')
        script(src='/javascript/scenes/MenuScene.js')
        script(src='/javascript/scenes/PlayScene.js')
        script(src='/javascript/scenes/ResultScene.js')

        script(src='/javascript/game.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body